.lista-vagas{
    display: flex;
    flex-direction: row;
    color:#17a4ba;
   
}

.lista-vagas .card{
    margin: 5px 10px;
    min-height: 500px;
    color:#17a4ba;
   
}

.grid_paginas{
    display: grid;
    grid-template-columns: repeat(10,1fr); 
    grid-template-rows: repeat(10,1fr); 
    grid-template-rows: minmax(1px, auto);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    color:#17a4ba;
   
  }

  .principal{
    margin-left: auto;
    box-shadow: 0px 0px 10px #17a4ba;
    padding:5%;
    grid-row: 2/9;
    grid-column: 1/4;
  }

 